.simpleviewer-mobile-glry a {
  color: #fff;
}

.simpleviewer-mobile-glry img {
  border: none;
}

/*--- layout ---*/
.simpleviewer-mobile-glry {
  font: 11px/1.5em sans-serif;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
}

.loading {
  background: url(../img/spinner.gif) no-repeat center;
}

.cls-mobile-flash {
  overflow: hidden;
}

/*--- /layout ---*/

/*--- detail ---*/
.cls-photos {
  position: absolute;
  top: 0;
  left: 0;
}

.sv-photo {
  position: absolute;
  float: none;
  text-align: center;
}

.sv-caption {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 35px;
  text-align: left;
  background: url(../img/caption-bg.png);
}

.sv-caption div {
  padding: 0 10px;
}

.sv-caption .sv-paging {
  line-height: normal;
  float: right;
  margin: 0 0 0 15px;
  padding: 0 10px 0 0;
}

.sv-caption .sv-title {
  font-size: 150%;
  line-height: normal;
  margin: 0;
}

.cls-prev-photo {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  display: block;
  display: none;
  width: 50%;
  height: 680px;
  cursor: pointer;
  background: url(../img/empty-pixel.png);
}

.cls-prev-photo span, .sv-nav-page-prev {
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  display: none;
  width: 27px;
  height: 27px;
  margin-top: -23px;
  background: url(../img/assets.png) no-repeat -9px -12px;
}

.sv-cls-4-ipad .cls-prev-photo span,
.sv-cls-4-iphone .cls-prev-photo span,
.sv-cls-4-android .cls-prev-photo span {
  width: 55px;
  height: 55px;
  background: url(../img/assets.png) no-repeat 6px 0px;
}

.cls-next-photo {
  position: absolute;
  z-index: 8;
  top: 0;
  right: 0;
  display: block;
  display: none;
  width: 50%;
  height: 680px;
  cursor: pointer;
  background: url(../img/empty-pixel.png);
}

.sv-nav-logo, .sv-photo-logo {
  font-size: 90%;
  position: absolute;
  z-index: 10;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  width: 105px;
  height: 15px;
  text-decoration: none;
  background: url(http://simpleviewer.net/m/sv.png) no-repeat 0 0;
}

.sv-cls-4-iphone.sv-vertical .sv-nav-logo,
.sv-cls-4-iphone.sv-vertical .sv-photo-logo {
  bottom: 10px;
}

/*
.sv-cls-4-iphone.sv-horizental .sv-nav-logo
{
	bottom:0px;
}
*/

.cls-next-photo span, .sv-nav-page-next {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  display: none;
  width: 27px;
  height: 27px;
  margin-top: -23px;
  background: url(../img/assets.png) no-repeat -59px -12px;
}

.sv-cls-4-ipad .cls-next-photo span,
.sv-cls-4-iphone .cls-next-photo span,
.sv-cls-4-android .cls-next-photo span {
  width: 55px;
  height: 55px;
  background: url(../img/assets.png) no-repeat -44px 0px;
}

.sv-photo-nav .sv-nav-page-prev {
  position: absolute;
  display: block;
  width: 55px;
  height: 60px;
  margin-top: -40px;
  cursor: pointer;
  background: url(../img/assets.png) no-repeat 7px 8px;
}

.sv-photo-nav .sv-nav-page-next {
  position: absolute;
  display: block;
  width: 55px;
  height: 60px;
  margin-top: -40px;
  cursor: pointer;
  background: url(../img/assets.png) no-repeat -44px 8px;
}

.sv-nav-page-label {
  font-size: 15px;
  position: absolute;
  display: block;
}

.sv-nav-page-caption {
  font-size: 19px;
  position: absolute;
  display: block;
}

.cls-topmenu {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  display: none;
  height: 38px;
}

.cls-topmenu a {
  position: relative;
  display: block;
  float: right;
  width: 37px;
  height: 38px;
  cursor: pointer;
  background: url(../img/assets.png) no-repeat;
}

.cls-topmenu .cls-open-window {
  display: none;
  background-position: -147px -5px;
}

.cls-topmenu .cls-go-fullscreen {
  display: none;
  background-position: -97px -5px;
}

.cls-topmenu .cls-go-nav-panel {
  background-position: -197px -5px;
}

.cls-topmenu a span {
  display: none;
}

.cls-topmenu-right, .cls-topmenu-left, .cls-topmenu-links {
  position: relative;
  display: none;
  float: right;
  overflow: hidden;
  height: 38px;
  margin: 0;
  background: transparent url(../img/assets.png) no-repeat -10px -56px;
  background-color: #111;
}

.cls-topmenu-right {
  width: 5px;
  background: transparent url(../img/assets.png) no-repeat -148px -56px;
}

.sv-cls-4-msie9 .cls-topmenu-right {
  display: none;
}

.cls-topmenu-left {
  width: 5px;
  background: transparent url(../img/assets.png) no-repeat 0 -56px;
}

.sv-cls-4-msie9 .cls-topmenu-left {
  display: none;
}

/*--- /detail ---*/

/*--- error ---*/
.sv-cls-error {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  color: #fff;
}

.sv-cls-error .sv-cls-error-text {
  position: relative;
  z-index: 10;
  float: left;
  padding: 0.7em 20px;
}

.sv-cls-error .sv-cls-error-bg {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
  border: 1px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  filter: alpha(opacity=50);
}

/*--- /error ---*/


.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.sv-photo-detail {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

/****** photo navigation panel ******/
.sv-photo-nav {
  position: relative;
  z-index: 50;
  float: left;
  overflow: hidden;
}

.sv-photo-nav table {
  position: absolute;
  top: 0;
}

.sv-nav-photo-list {
  position: relative;
  overflow: hidden;
}

.sv-nav-photo-list table {
  padding: 5px !important;
  border: none !important;
}

.sv-nav-photo-list table tr td {
  width: 80px !important;
  height: 80px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.sv-nav-photo-list a {
  /*
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, .2);
      -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, .2);
      box-shadow: -1px -1px 2px rgba(0, 0, 0, .2);
      display:block;
  */
}

.sv-nav-photo-list a img {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0;
  padding: 0;
  border: none;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .4);
  box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.sv-nav-photo-list a img:hover {
  width: 75px;
  height: 75px;
  border: none;
}

.sv-nav-photo-list a.current img {
  width: 75px;
  height: 75px;
  border: none;
}

.sv-nav-photo-list .visited img {
  width: 75px;
  height: 75px;
  border: none;
}

/****** for hand hold devices ******/
/* iphone */
/*
.sv-cls-4-iphone .sv-photo-nav
{
	margin-left: 3px;
	margin-top:5px;
}
*/

/* android */
/*
.sv-cls-4-android .sv-photo-nav
{
	margin-left: 3px;
	margin-top:5px;
}
*/

/* iPad */
/*
.sv-cls-4-ipad .sv-photo-nav
{
	margin-left: 3px;
	margin-top:5px;
}
*/

