body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  text-align: center;
  background-image: url(img/fondo_pagina.png);
  background-repeat: repeat;
}

#contenido {
  height: auto;
  margin-top: 0;
  padding: 16px;
  background-color: #FFF;
  background-image: url(img/fondo_div_principal.png);
  background-repeat: no-repeat;
}

#contenedor {
  text-align: justify;
  background-color: #FFF;
  background-image: url(img/fondo_div_principal.png);
  background-repeat: no-repeat;
}

#header {
  width: 800px;
  height: 290px;
  margin: 0 auto;
  background-image: url(img/fondo_header.png);
}

#centrado {
  width: 800px;
  height: 326px;
  margin: 0 auto;
  background-image: url(img/fondo_header.png);
}

.nada {
  font-size: 36px;
}

#marco {
  width: 800px;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  text-align: left;
}

#cargando {
  position: relative;
  height: 19px;
  margin: 100px auto;
}

/* OPCIONES DEL MENU */

* {
  margin: 0px;
  padding: 0px;
  outline: 0;
}

#menu {
  font-size: 0.7em;
  font-weight: bold;
  height: 36px;
  margin: 0 auto;
  text-transform: uppercase;
  background-image: url(img/fondo_menu.png);
}

#footer {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  color: #0CC;
  background-color: #007977;
}

.navigator-info {
  background-color: #099;
  color: #000;
  padding: 10px;
}

.site-info {
  padding: 20px;
}

#menu ul {
  margin: 0 auto;
  list-style-type: none;
  /*
  filter: alpha(opacity=90);
opacity: .9;
-moz-opacity: 0.9; */
}

ul.sub {
  z-index: 999;
}

#menu ul li.nivel1 {
  float: left;
  width: 160px;
  margin-top: 6px;
  margin-right: 0px;
  margin-left: 0px;
}

#menu ul li a {
  position: relative;
  display: block;
  padding: 4px;
  text-decoration: none;
  color: #004747;
  background-color: #FFF;
}

#menu ul li:hover {
  position: relative;
}

#menu ul li a:hover, #menu ul li:hover a.nivel1 {
  position: relative;
  color: #5B97B4;
  background-color: #E5FAFC;
}

#menu ul li a.nivel1 {
  position: relative;
  display: block !important;
  display: none;
}

#menu ul li ul {
  display: none;
}

#menu ul li a:hover ul, #menu ul li:hover ul {
  position: absolute;
  left: 0px;
  display: block;
}

#menu ul li ul li a {
  width: 160px;
  padding: 4px 0px 4px 0px;
}

#menu ul li ul li a:hover {
  /* border-top-color: #004747; */
  position: relative;
}

table.falsa {
  position: relative;
  float: left;
  border-collapse: collapse;
  border: 0px;
}

/* PAGINAS */
.pagina h1 {
  display: block;
  margin-bottom: 20px;
  padding-left: 15px;
  border-left-width: 10px;
  border-left-style: solid;
  background-color: #E5FAFC;
}

.pagina h2 {
  display: block;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 20px;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #F8FBFC;
}

.pagina ol {
  padding-right: 20px;
  padding-left: 40px;
  list-style-position: inside;
  list-style-type: square;
}

.pagina p {
  padding-right: 20px;
  padding-left: 40px;
}

.pagina {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  width: 760px;
  text-align: justify;
  color: #004747;
}

.pagina table {
  margin-left: 50px;
  color: #004747;
  border: thin dashed #9CF;
  background-color: #F9FCFD;
}

.pagina table h3 {
  padding-left: 10px;
  border-left-width: 4px;
  border-left-style: solid;
}

.pagina td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: thin dashed #9CF;
}

html {
  height: 100%;
}

#flashcontent {
  width: 760px;
  height: 600px;
}

/* end hide */

a {
  color: #cccccc;
}
